In [1]:
import os
import pandas as pd

In [5]:
def listdir(path):
    ls = os.listdir(path)
    return [os.path.join(path, f) for f in ls]

In [9]:
dfs = list(map(pd.read_csv, listdir('./bench/results/')))

In [20]:
data = pd.concat(dfs)
data.drop('Unnamed: 0', inplace=True, axis=1)
data.head()

,seed,time,solved,visited,msg,seq,seqlen,datetime,shootme
0,8581,0.000701,False,1,revisited state,NaN,-1,2019-11-26T22:12:46.190411,Solved-Min
1,1025,0.000674,False,1,revisited state,NaN,-1,2019-11-26T22:12:46.191245,Solved-Min
2,5426,0.000721,False,1,revisited state,NaN,-1,2019-11-26T22:12:46.191398,Solved-Min
3,1942,0.000614,False,1,revisited state,NaN,-1,2019-11-26T22:12:46.192020,Solved-Min
4,4766,0.000519,False,1,revisited state,NaN,-1,2019-11-26T22:12:46.191532,Solved-Min

In [27]:
solved = data[data.solved == True]
print(f"{len(solved)} solved out of {len(data)}")

0 solved out of 300